:root {
    --main-color: rgb(89, 109, 72);
    --main-bg: rgb(229, 231, 235);
}

@font-face {
    font-family: norse-bold;
    src: url(../css/Norse-Bold.otf);
}

html, 
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg);
}

header {
    background-image: url("../img/bg-leaves.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40%;
    color: rgb(255, 255, 255);
}

.logo {
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0, 0.5);
    font-family: norse-bold, sans-serif;
    font-size: 2rem;
    justify-content: center;
    position: relative;
    top: 20%;
}

.logo img {
    max-height: 100px;
}

.logo h1 {
    margin: 0;
    padding-top: 8px; /* Compensate to position text center with img */
}

.logo + div {
    position: relative;
    top: 80%;
}

.logo + div > p {
    text-align: center;
}

.logo + div > p a:link,
.logo + div > p a:visited {
    color: rgb(255, 255, 255);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    padding: 1.5rem 2rem;
}

form > section {
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 5px 5px rgb(167, 167, 167);
}

section h2 {
    margin: 0;
}

section > div {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}

label {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: 600;
}

input {
    padding: 0.3rem;
    display: block;
    width: 100%;
}

button {
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}